body {
    background: linear-gradient(96.07deg, #22a0ee 30.63%, #da26c2 102.18%);;
}


.button{
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button:active{
    transform: scale(.9);
}

#play {
  background-image: url('../images/play.svg');
}

#pause {
    background-image: url('../images/pause.svg');
}

#backward {
    background-image: url('../images/-10.svg');
}

#forward {
    background-image: url('../images/+10.svg');
}

.wrapper{
    margin: auto;
    
    max-inline-size: 900px;
}

.player{
    margin-block-start: 100px;
    position: relative;
}

.player, video{
    inline-size: 100%;
     aspect-ratio: 16/9; 
    vertical-align: middle;
    object-fit: cover;
}

.player-tittle{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    inset-block-start: 0;
    inset-inline-start: 20px;
    position: absolute;
}

.player-actions{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
    gap: 20px;
}

.player-progres{
    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
    display: flex;
    padding: 10px;
    z-index: 2;
}

.player-progres input{
    flex: 1;
    z-index: 2;
}

.player-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;

}

.player:hover .player-overlay{
    opacity: 1;
}